.custom_field_wrapper {
    position: relative;
    width: 100%;
    height: fit-content;
}

.custom_field_wrapper div{
    width: 100%;
}

.custom_field_wrapper label {
    height: 100%;
    position: absolute;
    left: 13px;
    align-items: center;
    display: flex;
    top: 0;
    pointer-events: none;
}