.header_menu {
    width: 400px;

    display: flex;
    
    flex-direction: row; 
    justify-content: space-between;

    margin-top: 27px;
    margin-left: 449px;
}

.header_menu a{
    text-decoration: none;
    font-size: 10px;
    color: white;
    text-align: center; /* Выравнивание по центру */
}
