.introduction{
    margin-left: 62px;
    height: 345px;
    width: 440px;
}

.introduction .heading{
    margin: 0;
    height: 211px;
    font-size: 30px;
    font-weight: bold;
    text-align: justify;
    line-height: 35px;
}
.introduction .subheading{
    height: 64px;
    font-size: 12px;
    font-weight: lighter;
    text-align: justify;
}

.introduction .cta-buttons{
    display: flex;
    justify-content:space-between;
}
